body {
    font-family: sans-serif;
    background-color: #333333;
}

pre {
    background-color: #3C3C3C;
    color: #757575;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

h4, h5 {
    display: inline;
}

a, h4, h5 {
    color: #26A69A;
    word-wrap: break-word;
}

h4 {
    padding: 1em;
}

li {
    color: #26A69A;
}

ul a {
    margin-left: 1em;
}