<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gr.thmmy.mthmmy"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <activity
            android:name=".activities.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="thmmy.gr"
                    android:scheme="http" />
                <data
                    android:host="www.thmmy.gr"
                    android:scheme="http" />
                <data
                    android:host="www.thmmy.gr"
                    android:scheme="https" />
                <data
                    android:host="thmmy.gr"
                    android:scheme="https" />
                <data android:host="thmmy.gr" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AboutActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".activities.topic.TopicActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".activities.profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.board.BoardActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".activities.downloads.DownloadsActivity"
            android:parentActivityName=".activities.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".activities.upload.UploadActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".activities.upload.UploadFieldsBuilderActivity"
            android:parentActivityName=".activities.upload.UploadActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.upload.UploadActivity" />
        </activity>
        <activity
            android:name=".activities.bookmarks.BookmarksActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.main.MainActivity"
            android:theme="@style/AppTheme.PreferenceTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".services.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".services.UploadsReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="gr.thmmy.mthmmy.uploadservice.broadcast.status" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.create_content.CreateContentActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.shoutbox.ShoutboxActivity"
            android:parentActivityName=".activities.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>
    </application>

</manifest>